# using python3.10
coffea
scipy
numba
uproot
awkward
numpy
vector
pandas
correctionlib 
onnxruntime
hist
matplotlib
xrootd
fsspec-xrootd
requests
cloudpickle
dbs3-client
rucio-clients
dask==2024.5.1 # just for coffea...
